/* Desktop */
@media screen and (min-width: 768px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-color:	#674baf;
    }
    .logo {
        width: 10%;
        margin: 30px 50px 20px;
    }
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
    }
    .image-container {
        display: flex;
        flex-direction: column;
        margin: 20px 30px;
    }
    .mockup {
        width: 700px;
        height: auto;
        margin: 0px 0px 20px 30px;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .content-container {
     width: 500px;
     color: #fff;
     font-family: 'Poppins', sans-serif;
     margin: 40px 230px 0px 0px;
    }
    .content-par {
        color: #fff;
        width: 460px;
        font-family: 'Open Sans', sans-serif;
        line-height: 25px;
        margin-top: 0px;
    }
    .button {
        text-align: center;
        margin: 10px 50px 20px -500px;
        
    }
    button {
        background-color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: 	#674baf;
        width: 170px;
        height: 45px;
        border-radius: 20px;
        border: none; 
    }
    button:hover {
        color: #fff;
        background-color: #e882e8;
    }
    .icon {
        text-align: right;
        margin: 130px 60px 60px 30px;
    }
    .icon__link {
        text-decoration: none;
    }
    .icon__italic {
        color: #fff;
        border: 1px solid #fff;
        padding: 20px 15px;
        margin: 5px;
        border-radius: 30px;
        text-align: center;
        justify-content: center;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        color: #fff;
        font-family:'Poppins', sans-serif;
        
    }
    .attribution a {
        text-decoration: none;
        font-family:'Poppins', sans-serif;
        color: #ffffff;
    }
    .attribution a:hover {
        color: #e882e8;
        
    }
}
/* Mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
    body {
    background-color:  	#674baf;
    background-image: url(./images/bg-mobile.svg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position-y: -15%;
    }
    .logo {
        width: 60%;
        
    }
    .mockup {
        width: 95%;
    }
    .image-container {
        display: flex;
        flex-direction: column;
        margin: 50px 30px 20px 40px;
    }
    
    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .content-container {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 40px;
        font-weight: 600;
        align-items: center;
    }
    .content-par {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 300px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        line-height: 25px;
    }
    .button {
        text-align: center;
    }
    button {
        background-color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: 	#674baf;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        border: none;   
    }
    button:hover {
        color: white;
        background-color: #e882e8;
    }
    .icon {
        text-align: center;
        
    }
    .icon__link {
        text-decoration: none;
        
    }
    .icon__italic {
        border: 1px solid #fff;
        padding: 20px 15px;
        border-radius: 30px;
        text-align: center;
        justify-content: center;
        margin-top: 80px;
        margin-left: 10px;
        color: #fff;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        color: #fff;
        font-family:'Poppins', sans-serif;
        margin-bottom: 20px;
    }
    .attribution a {
        text-decoration: none;
        font-family:'Poppins', sans-serif;
        color: #ffffff;
    }
    .attribution a:hover {
        color: #e882e8;
        
    }
}  

